.header-cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    display: flex;
    align-items: center;
}
.header-logo:hover {
    cursor: pointer;
}
.header-logo-img {
    width: 100px;
    height: 100px;
}
.header-options > ul {
    display: flex;
    list-style: none;
}
.header-options > ul > li {
    padding: 10px;    
}
.header-options > ul > li:hover {
    cursor: pointer;
}
.top-rate-filter {
    margin: 10px;
    cursor: pointer;
}
.res-card-cnt {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
}
.res-card {
    max-width: 200px;
    padding: 5px;
    margin: 10px 0px;
    background-color: #f0f0f0;
    border-radius: 6px;
}
.res-card:hover {
    border: black solid 1px;
    cursor: pointer;
}
.res-card-img {
    width: 100%;
}
.res-card > span > h3 {
    display: -webkit-box;
    overflow: hidden ;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.shimmer-cnt {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
}
.shimmer-load-cnt {
    width: 200px;
    padding: 5px;
    margin: 10px 0px;
    background-color: #f0f0f0;
    border-radius: 6px;
    height: 400px;
}
.invalid-route-cnt {
    display: flex;
    flex-direction: column;
}